/*////WDC jobs view DEV////*/

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}


/*start of header styling*/

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

div#wr_header {
    background: #80276C;
}

.wdc_header .container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
    padding-top: 18px;
}

/*end of header styling*/

/*start of header image styling*/

.Mhr-jobSearchCriteriaOuter {
    height: 50vh;
    background-position-y: center;
}

/*end of header image styling*/

/* start of search styling */

div#job-search-location {
    background: #fff;
}

/* end of search styling */

/* start of main section styling */

div#wr_outer {
    background: #f6eeee;
    color: #000;
}

.Mhr-jobSearchBar .Mhr-jobSearchOrder .Mhr-jobSearchFilter .Mhr-customSelectButton {
    color: #000000;
    font-weight: 600;
}

button#main-find-jobs {
    background: #80276c;
    outline: solid;
}

button#main-find-jobs:focus {
    background-color: #6d6d6d;
}

/* end of main section styling */
